<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceControl.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ServiceControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>
  <userSettings>
    <ServiceControl.WPF.Properties.Settings>
      <setting name="DefaultProfile" serializeAs="String">
        <value/>
      </setting>
    </ServiceControl.WPF.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <rhino.esb>
    <bus threadCount="1" numberOfRetries="5" endpoint="msmq://localhost/epmi.servicecontrol.wpf" />
    <messages>
      <add name="EPMI.ServiceControl.BusinessObjects.ProfileCollection" endpoint="msmq://localhost/epmi.servicecontrol.service" />
    </messages>
  </rhino.esb>
</configuration>
