<?xml version="1.0" encoding="utf-8"?>
<profiles>
  <profile name="Oracle EPM 11.1.2.0" default="false">
    <service name="Foundation Services" value="Hyperion Foundation Services - Managed Server" timeOut="20000" startDelay="20" stopDelay="0" />
    <service name="Reporting and Analysis Framework" value="Hyperion Reporting and Analysis Framework" timeOut="5" startDelay="5" stopDelay="0" />
    <service name="Reporting and Analysis Framework - Web Application" value="Hyperion Reporting and Analysis Framework - Web Application" timeOut="15000" startDelay="15" stopDelay="0" />
    <service name="EPM Architect - Process Manager" value="Hyperion EPM Architect - Process Manager" timeOut="45000" startDelay="45" stopDelay="0" />
    <service name="Hyperion RMI Registry" value="Hyperion RMI Registry" timeOut="5000" startDelay="5" stopDelay="0" />
    <service name="Oracle Process Manager" value="Oracle Process Manager \(ohsInstance\d+\)" isRegEx="true" timeOut="10000" startDelay="10" stopDelay="0" />
    <service name="Hyperion EPMA Data Synchronizer - Web Application" value="Hyperion EPMA Data Synchronizer - Web Application" timeOut="15000" startDelay="15" stopDelay="0" />
    <service name="Hyperion EPMA Web Tier - Web Application" value="Hyperion EPMA Web Tier - Web Application" timeOut="15000" startDelay="15" stopDelay="0" />
    <service name="Hyperion CALC Manager - Web Application" value="Hyperion CALC Manager - Web Application" timeOut="15000" startDelay="15" stopDelay="0" />
    <service name="Hyperion Financial Reporting - Web Application" value="Hyperion Financial Reporting - Web Application" timeOut="15000" startDelay="15" stopDelay="0" />
    <service name="Hyperion Financial Reporting - Print Service" value="Hyperion Financial Reporting - Print Service" timeOut="5000" startDelay="5" stopDelay="0" />
    <service name="Hyperion Essbase" value="Oracle Process Manager \(EPM_epmsystem\d+\)" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
  </profile>
  <profile name="Oracle EPM 11.1.2.1" default="false">
    <service name="Oracle Process Manager" value="Oracle Process Manager \(ohsInstance\d+\)" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Foundation Services - Managed Server" value="Hyperion Foundation Services - Managed Server" timeOut="20" startDelay="20" stopDelay="5" />
    <service name="Reporting and Analysis Framework" value="Hyperion Reporting and Analysis Framework" timeOut="5" startDelay="5" stopDelay="5" />
    <service name="Reporting and Analysis Framework - Web Application" value="Hyperion Reporting and Analysis Framework - Web Application" timeOut="15" startDelay="15" stopDelay="5" />
    <service name="Hyperion EPMA Server" value="Hyperion EPMA Server" timeOut="45" startDelay="45" stopDelay="0" />
    <service name="Hyperion RMI Registry" value="Hyperion RMI Registry" timeOut="5" startDelay="5" stopDelay="0" />
    <service name="Hyperion EPMA Data Synchronizer - Web Application" value="Hyperion EPMA Data Synchronizer - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion EPMA Web Tier - Web Application" value="Hyperion EPMA Web Tier - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion CALC Manager - Web Application" value="Hyperion CALC Manager - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Financial Reporting - Web Application" value="Hyperion Financial Reporting - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Financial Reporting - Print Service" value="Hyperion Financial Reporting - Print Service" timeOut="5" startDelay="5" stopDelay="0" />
    <service name="Hyperion Web Analysis - Web Application" value="Hyperion Web Analysis - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Administration Services - Web Application" value="Hyperion Administration Services - Web Application" timeOut="20" startDelay="20" stopDelay="0" />
    <service name="Hyperion Provider Services - Web Application" value="Hyperion Provider Services - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Planning - Web Application" value="Hyperion Planning - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Studio Service BPMS bpms1" value="Hyperion Studio Service BPMS bpms\d+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion ERP Integrator - Web Application" value="Hyperion ERP Integrator - Web Application" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Data Quality Management - Task Manager" value="Hyperion Financial Data Quality Management - Task Manager" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management - DME Listener" value="Hyperion Financial Management - DME Listener" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management - Management Service" value="Hyperion Financial Management - Management Service" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management- Web Services" value="Hyperion Financial Management- Web Services" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management - Web Service Manager" value="Hyperion Financial Management - Web Service Manager" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Strategic Finance Service" value="Hyperion Strategic Finance Service" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Essbase" value="Oracle Process Manager \(EPM_epmsystem\d+\)" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
  </profile>
  <profile name="Oracle EPM 11.1.2.2" default="false">
    <service name="Oracle Process Manager" value="Oracle Process Manager \(ohsInstance\d+\)" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Foundation Services - Managed Server" value="Hyperion Foundation Services - Managed Server" timeOut="20" startDelay="20" stopDelay="5" />
    <service name="Reporting and Analysis Framework" value="Hyperion Reporting and Analysis Framework" timeOut="5" startDelay="5" stopDelay="5" />
    <service name="Reporting and Analysis Framework - Web Application" value="Hyperion Reporting and Analysis Framework - Web Application" timeOut="15" startDelay="15" stopDelay="5" />
    <service name="Hyperion EPMA Server" value="Hyperion EPMA Server" timeOut="45" startDelay="45" stopDelay="0" />
    <service name="Hyperion RMI Registry" value="Hyperion RMI Registry" timeOut="5" startDelay="5" stopDelay="0" />
    <service name="Hyperion EPMA Data Synchronizer - Web Application" value="Hyperion EPMA Data Synchronizer - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion EPMA Web Tier - Web Application" value="Hyperion EPMA Web Tier - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion CALC Manager - Web Application" value="Hyperion CALC Manager - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Financial Reporting - Web Application" value="Hyperion Financial Reporting - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Web Analysis - Web Application" value="Hyperion Web Analysis - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Administration Services - Web Application" value="Hyperion Administration Services - Web Application" timeOut="20" startDelay="20" stopDelay="0" />
    <service name="Hyperion Provider Services - Web Application" value="Hyperion Provider Services - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Planning - Web Application" value="Hyperion Planning - Web Application" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Hyperion Studio Service BPMS bpms1" value="Hyperion Studio Service BPMS bpms\d+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion ERP Integrator - Web Application" value="Hyperion ERP Integrator - Web Application" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Data Quality Management - Task Manager" value="Hyperion Financial Data Quality Management - Task Manager" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management - DME Listener" value="Hyperion Financial Management - DME Listener" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management - Management Service" value="Hyperion Financial Management - Management Service" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management- Web Services" value="Hyperion Financial Management- Web Services" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management - Web Service Manager" value="Hyperion Financial Management - Web Service Manager" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Financial Management - Web Tier" value="Hyperion Financial Management - Web Tier" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Strategic Finance Service" value="Hyperion Strategic Finance Service" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Essbase" value="Oracle Process Manager \(EPM_epmsystem\d+\)" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Hyperion Essbase (Unix)" value="startEssbase.sh" isUnix="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="ODI Agent" value="OracleDI Agent (J2EE)" timeOut="10" startDelay="10" stopDelay="0" />
  </profile>
  <profile name="Oracle EPM 11.1.2.3" default="true">
    <service name="Oracle HTTP" value="OracleProcessManager_ohsInstance\d+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Foundation Services" value="HyS9FoundationServices_\S+" isRegEx="true" timeOut="20" startDelay="20" stopDelay="5" />
    <service name="Reporting and Analysis Framework Agent" value="HyS9RaFrameworkAgent_\S+" isRegEx="true" timeOut="5" startDelay="5" stopDelay="5" />
    <service name="Reporting and Analysis Framework" value="HyS9RaFramework_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="5" />
    <service name="EPMA Server" value="HyS9EPMAServer_\S+" isRegEx="true" timeOut="45" startDelay="45" stopDelay="0" />
    <service name="RMI Registry" value="HyS9RMIRegistry_\S+" isRegEx="true" timeOut="5" startDelay="5" stopDelay="0" />
    <service name="EPMA Data Synchronizer" value="HyS9EPMADataSynchronizer_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="EPMA Web Tier" value="HyS9EPMAWebTier_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="CALC Manager" value="HyS9CALC_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Financial Reporting" value="HyS9FRReports_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Web Analysis" value="HyS9WebAnalysis_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Essbase Administration Services" value="HyS9eas_\S+" isRegEx="true" timeOut="20" startDelay="20" stopDelay="0" />
    <service name="Essbase Provider Services" value="HyS9aps_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Planning" value="HyS9Planning_\S+" isRegEx="true" timeOut="15" startDelay="15" stopDelay="0" />
    <service name="Essbase Studio" value="HyS9EssbaseStudio_\S+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="FDM Enterprise Edition" value="HyS9aifWeb_\S+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="HFM DME Listener" value="HyS9FinancialManagementDMEListener_\S+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="HFM Management Service" value="HyS9FinancialManagementService_\S+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="HFM Web Service Manager" value="HyS9FinancialManagementWebServiceManager_\S+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="HFM Web Tier" value="HyS9FinancialManagementWeb_\S+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Essbase" value="OracleProcessManager_EPM_\S+" isRegEx="true" timeOut="10" startDelay="10" stopDelay="0" />
    <service name="Essbase (Unix)" value="startEssbase.sh" isUnix="true" timeOut="10" startDelay="10" stopDelay="0" />
  </profile>
</profiles>