<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define Version = "!(bind.fileVersion.ServiceControlWPF1)" ?>
  <?define UpgradeCode = "4cbcf12c-daa1-42ca-a52b-4c7d270c082a" ?>

  <Product Id="*" Name="EPM Service Control" Language="1033" Version="$(var.Version)" Manufacturer="Keith Kikta" UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.Version)" IncludeMinimum="no" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.Version)" IncludeMinimum="yes" IncludeMaximum="yes" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="NewerVersion" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
    </InstallExecuteSequence>

    <CustomAction Id="NewerVersion" Error="A newer version of EPM Service Control is already installed." />

    <!--<MediaTemplate />-->
    <Media Id="1" Cabinet="ServiceControl.cab" EmbedCab="yes"  />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="ServiceControl" />
      <ComponentGroupRef Id="Profiles" />
      <ComponentRef Id="ApplicationSortcut"/>
    </Feature>

    <!-- Display License -->
    <WixVariable Id="WixUIBannerBmp" Value="epmjunkie_installbanner_sm.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="epmjunkie_installBG_sm.jpg" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <UIRef Id="ServiceControlUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="LAUNCHAPPONEXIT" Value="1" />

  </Product>
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYFOLDER" Name="EPM Junkie">
          <Directory Id="INSTALLFOLDER" Name="Service Control">
            <Directory Id="PROFILE" Name="Profiles" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EPM Service Control" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationSortcut" Guid="C79952DC-4290-4734-9D0F-82E175F11576">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="EPM Service Control"
                  Description="Start and Stop Services"
                  WorkingDirectory="INSTALLFOLDER"
                  Target="[INSTALLFOLDER]ServiceControl.WPF.exe"
                  Advertise="no" />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall EPM Service Control"
                  Description="Uninstalls EPM Service Control"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\EPMJunkie\Service Control" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ServiceControl" Directory="INSTALLFOLDER">
      <Component Id="ServiceControl.WPF" Guid="5CDD2A95-3C20-42D0-9857-3DE37231804E">
        <File Id="ServiceControlWPF1" Source="$(var.ServiceControl.WPF.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="ServiceControl.BusinessObjects">
        <File Id="ServiceControl.BusinessObjects" Source="$(var.ServiceControl.BusinessObjects.TargetPath)" />
      </Component>
      <Component Id="ServiceControl.Utility">
        <File Id="ServiceControl.Utility" Source="$(var.ServiceControl.Utility.TargetPath)" />
      </Component>
      <Component Id="EPMJunkie.Core">
        <File Id="EPMJunkie.Core" Source="$(var.EPMJunkie.Core.TargetPath)" />
      </Component>
      <Component Id="Renci.SshNet.dll">
        <File Id="Renci.SshNet.dll" Source="$(var.ServiceControl.WPF.TargetDir)Renci.SshNet.dll" />
      </Component>
      <Component Id="License">
        <File Id="Licnese" Source="$(var.ServiceControl.WPF.TargetDir)LICENSE" />
      </Component>
      <Component Id="Renci.SshNet.License">
        <File Id="Renci.SshNet.License" Source="$(var.ServiceControl.WPF.TargetDir)Renci.SshNet.License" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Profiles" Directory="PROFILE">
      <Component Id="Default.host">
        <File Id="Default.host" Source="$(var.ServiceControl.WPF.TargetDir)Profiles\Default.host" />
      </Component>
      <Component Id="Default.service">
        <File Id="Default.service" Source="$(var.ServiceControl.WPF.TargetDir)Profiles\Default.service" />
      </Component>
      <Component Id="Custom.service">
        <File Id="Custom.service" Source="$(var.ServiceControl.WPF.TargetDir)Profiles\Custom.service" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>